<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.simonescaboro.bookselling">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_library"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_library"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".login_registration.LoginLayoutActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".app.MainActivity" />
        <activity
            android:name=".app.AllBooks"
            android:label="@string/title_activity_all_books"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".app.AddNewBook" />
        <activity
            android:name=".login_registration.SignUpActivity"
            android:label="@string/title_activity_sign_up"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".app.MyBooksClass"
            android:label="@string/title_activity_my_books_class"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".app.ItemDetails"
            android:label="@string/title_activity_item_details"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>
    <uses-feature android:name="android.hardware.camera"
        android:required="true" />

</manifest>